body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#display, #offset, .region, .room, .entity {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.region {
    z-index: 10;
    border: 1px dashed lime;
}
.room {
    z-index: 20;
}
.entity {
    z-index: 30;
    border: 1px dashed red;
}