body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: sans-serif;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#display, #offset, .region, .room, .edge, .entity, .highlight {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#display {
    overflow: hidden;
}
.region {
    z-index: 10;
    border: 1px dashed lime;
}
.room {
    z-index: 20;
}
.edge {
    z-index: 30;
    background-color: rgba(0, 0, 255, 0.5);
}
.edge.top {
    border-bottom: 1px dotted cyan;
}
.edge.bottom {
    border-top: 1px dotted cyan;
}
.edge.left {
    border-right: 1px dotted cyan;
}
.edge.right {
    border-left: 1px dotted cyan;
}
.entity {
    z-index: 40;
    border: 1px dashed red;
    border-color: rgba(255, 0, 0, 0.8);
}
.entity.gem, .entity.heart {
    z-index: 41;
    border: 1px solid yellow;
}
.entity.unimportant {
    z-index: 39;
    border-color: rgba(255, 0, 0, 0.4);
}

.highlight {
    border: 2px solid white;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%;
}

.header {
    text-align: right;
    width: 100%;
    background-color: black;
    z-index: 100;
}
.header * {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.header>div {
    padding: 3px;
}
.header>.left {
    float: left;
}

a, a:visited {
    color: #fec625;
    text-decoration: none
}
a:active {
    color: #ff9200;
    text-decoration: none;
}
a:hover {
    color: #ff9200;
}